# IDE files
.env
.vs/
.vscode/
.idea/

# Jekyll build artifacts
_site/
.jekyll-cache/
.sass-cache/
.jekyll-metadata

# Ruby environment
.bundle/
vendor/
Gemfile.lock

# Temporary files
*.swp
*~
.DS_Store

# Documents in the root directory
/*.md
!/README.md
!/CONTRIBUTING.md

# GPG Keys
.gnupg/
